body {
    margin: 60px auto;
    width: 70%;
}
nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul{ 
	background:#f7f7f7;
	border-top:1px solid #f0e9eb;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    	padding:10px 15px;
    	list-style: none;
   	font-weight: bold;
	clear:both;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

#content {
    border:1px solid black;
}

#content > div {
    height:100px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

#main-image {
	text-align:center;
}
#left-column {
	width: 50%;;
	float:left;
}

#right-column {
	width: 50%;;
	float:right;
}

.sidebar {
	width:218px;
	margin:0 auto;
	padding:10px 25px;
/* 	background:url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top; */
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
