body {
    margin: 30px auto;
    width: 70%;
}
nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0 1px;
    list-style: none;
    font-weight: bold;
}

footer ul{ 
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    	padding:10px 15px;
    	list-style: none;
   	font-weight:bold;
	clear:both;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

#main-content {
	margin:0 auto;
}

#main-image {
	text-align:left;
}

#largest-size {  
	width: 100%;  
	height: auto; 
}

#left-column {
	width: 30%;;
	float:left;
}

#right-column {
	width: 70%;;
	float:right;
}

.sidebar {
	width: 230px;
	margin:0 auto;
	padding:10px 5px;
/* 	background:url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top; */
}

.box {
/* 	background:#f7f7f7; */
	border:1px;
	padding:15px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
	color:#7a2e40;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px;
	text-decoration: underline
	text-align:center;
	
}

h3 {
	color:#7a2e40;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 14px Arial, Helvetica, sans-serif;
	border-bottom:1px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top:1px;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
