*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    margin: 30px auto;
    width: 70%;
}
nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0 1px;
    list-style: none;
    font-weight: bold;
}

footer ul{ 
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    	padding:10px 15px;
    	list-style: none;
   	font-weight:bold;
	clear:both;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

#main-content {
	margin:0 auto;
}

#main-image {
	text-align:left;
}

#largest-size {  
	width: 100%;  
	height: auto; 
}

#left-column {
	width: 35%;;
	float:left;
}

#right-column {
	width: 65%;;
	float:right;
}

#cv-link{
word-spacing: 5px
}


.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

.education {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .education {
    width: 70%;
  }
}

.sidebar {
	width: 230px;
	margin:0 auto;
	padding:10px 5px;
	font:normal 13px;
/* 	background:url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top; */
}

.box {
/* 	background:#f7f7f7; */
	border:1px;
	padding:15px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
	color:#7a2e40;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px;
	text-decoration: underline;
	text-align:center;
	
}

h3 {
	color:#7a2e40;
	margin:14px 0;
	padding-bottom:10px;
	font:bold 14px Arial, Helvetica, sans-serif;
	border-bottom:1px;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top:1px;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
