body {
    margin: 30px auto;
    width: 70%;
}
nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0 1px;
    list-style: none;
    font-weight: bold;
}

footer ul{ 
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    	padding:10px 15px;
    	list-style: none;
   	font-weight:bold;
	clear:both;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

#main-content {
	margin:0 auto;
}

#main-image {
	text-align:left;
}

#largest-size {  
	width: 100%;  
	height: auto; 
}

#left-column {
	width: 35%;
	float:left;
}

#right-column {
	width: 65%;
	float:right;
}

#cv-link{
word-spacing: 5px;
}

#sec-adjust p{
padding-top:15px;
/*margin-top: 25px;*/
}

.section{
/*margin-top: 10px;*/
margin-bottom: 10px;
text-align: justify;
padding-bottom: 80px;
/*background-color: red;*/
	
}
.sec-left{
float: left;
/* font-weight: bold; */
font-size: .65em;
background-color: lightgreen;
margin-right:10px;
/*margin-bottom: 10px*/
}
.sec-right{
/* float: right; */
/*background-color: lightblue;*/
margin-left: 180px;
font-size: .7em;
/*margin-top: 30px*/
}

.sidebar {
	float:left;
	width: 210px;
	margin-left:0;
	padding:10px 5px;
	font:normal 13px;
/* 	background:url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top; */
}

.box {
/* 	background:#f7f7f7; */
	border:1px;
	padding:15px;
}

.right-column p{
	font-size: 1.3em;
    line-height: 1.4em;
    color: #333;

}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

br {
   display: block;
   margin: 10px 0;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
	color:#7a2e40;
	margin:10px;
	padding-bottom:10px;
	font:bold 23px Georgia, serif;
	border-bottom:1px;
	text-decoration: underline;
	text-align:center;
	
}

h3 {
	color:#7a2e40;
	margin:14px 0;
	/*padding-bottom:10px;*/
	font:bold 18px Arial, Helvetica, sans-serif;
	border-bottom:1px;

}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top:1px;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
