<!DOCTYPE html>
	<html>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<!-- <li><a href="/cv">CV/Resume</a></li> -->
	        		<li><a href="{{site.baseurl}}/asset/CV.pdf" target="_blank" class="download" title="Download CV as PDF">CV</a></li>
	        		<li><a href="{{site.baseurl}}/asset/Resume.pdf" target="_blank" class="download" title="Download Resume as PDF">Resume</a></li>
<!-- 	        	<li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kyuchen@umich.edu">email</a></li>
	        		<li><a href="https://github.com/dv2468">github.com/dv2468</a></li>
			</ul>
			</footer>
		</body>
	</html>
